.myself-container{
    border: 1px solid lightcoral;
    border-radius: 5px;
    box-sizing: border-box;
    margin:3px;

}

.myself-container img{
    border-radius: 100%;
    width: 175px;
    height: 175px;
    margin-top: 5px;
}

.myself-container p{
    margin-right: 15px;
    margin-left: 15px;
}
   